# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.lock.bak

# Generated platform ephemera
**/ephemeral/
**/Pods/
**/.gradle/
local.properties
**/GeneratedPluginRegistrant.*
**/.kotlin/
